{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="post" style="width: 50%; margin: auto;" novalidate>
    <h1>Login</h1>
    {% csrf_token %}
    {% if form.non_field_errors %}
      {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{ er }}</p>
      {% endfor %}
    {% endif %}
    {% for frm in form %}
      {% comment %} {{ frm.label_tag }} {% endcomment %}
      {{ frm|as_crispy_field }}
      {% comment %} {{ frm.errors|striptags }} {% endcomment %}
    {% endfor %}
    {% comment %} <p>
      <a href="{% url 'forgotpass' %}">Forgot Password?</a>
    </p> {% endcomment %}
    <button class="btn btn-warning" type="submit">Submit</button>
  </form>
{% endblock %}
