{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <h1>welcome to your profile {{ user }}</h1>
  <p>
    <a class="btn btn-primary" href="{% url 'passchange' %}">Change Your Password</a>
    <a class="btn btn-primary" href="{% url 'passchange2' %}">Change Your Password Without Old Password</a>
  </p>

  {% comment %} {% if messages %}
    {% for m in messages %}
      <small class="bg-success p-3">{{ m }}</small>
    {% endfor %}
  {% endif %} {% endcomment %}
  {% if messages %}
  <div class="mt-3 text-center">
    {% for m in messages %}
      <div class="alert {% if m.tags == 'success' %}
           alert-success
        {% elif m.tags == 'error' %}
           alert-danger
       {% else %}
           alert-info
        {% endif %}"
        role="alert">{{ m }}</div>
    {% endfor %}
  </div>
  {% endif %} 
  <form method="post" style="width: 50%; margin: auto;" novalidate>
    <h1>User Update</h1>
    {% csrf_token %}

    {% for frm in form %}
      {% comment %} {{ frm.label_tag }} {% endcomment %}
      {{ frm|as_crispy_field }}
      {% comment %} {{ frm.errors|striptags }} {% endcomment %}
    {% endfor %}
    <button class="btn btn-warning" type="submit">Submit</button>
  </form>
{% endblock %}
